<h2 id="title">Classy Loader</h2>

{{classy-loader}}
{{classy-loader percentage="75"}}
{{classy-loader percentage="75" height="150" width="150"}}
{{classy-loader percentage="75" animate=false action="draw"}}
{{classy-loader percentage="75" speed="25"}}
{{classy-loader percentage="75" showRemaining=false}}
{{classy-loader percentage="75" start="bottom"}}
{{classy-loader percentage="75" fontFamily="times"}}
{{classy-loader percentage="75" showText=false}}
{{classy-loader percentage="75" fontSize="32px"}}
{{classy-loader percentage="75" roundedLine=true}}
{{classy-loader percentage="75" diameter="40"}}
{{classy-loader percentage="75" fontColor="blue"}}
{{classy-loader percentage="75" lineColor="blue"}}
{{classy-loader percentage="75" remainingLineColor="blue"}}
{{classy-loader percentage="75" lineWidth="10"}}
